<!DOCTYPE html>
<html class="light" style="color-scheme: light;">
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" /><title>感谢使用ChatGPT仿站，前端高仿官网！</title><meta name="next-head-count" content="3" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png" />
    <meta name="description" content="A conversational AI system that listens, learns, and challenges" />
    <meta property="og:title" content="ChatGPT" />
    <meta property="og:description" content="A conversational AI system that listens, learns, and challenges" />
    <meta name="react-scroll-to-bottom:version" content="4.2.0" />
    <style data-emotion="react-scroll-to-bottom--css-ncqif" data-s=""></style>
    <script defer="defer" src="static/js/chunk-vendors.2c7a204d.js"></script>
    <script defer="defer" src="static/js/app.aa8103fd.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but chatgpt-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
